.button-wrap {
    margin-left: 5px;
    margin-right: 5px;
}

#hea{
  background-color: rgba(65, 95, 122, 0.3);
}

#schoolbody{
  background-color: gray;
}

#loans {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#loans td, #loans th {
  border: 1px solid #ddd;
  padding: 8px;
}

#loans tr:nth-child(even){background-color: rgba(149, 163, 201,0.3)}
#loans tr:nth-child(odd){background-color: rgba(149, 163, 201,0.6)}

#loans th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#erasmus{
  text-align: left;
}

.title_p{
  font-style: oblique;
  color: rgb(153, 0, 0);
}
h2#csevents,h2#csnews{
  text-align: center;
  background-color: rgb(0, 217, 255);
  color: rgb(184, 0, 0);
  margin-top: 0;
}


}
#thisnews,#thisevents{
  color: rgb(41, 0, 1);
}

h4{
  color: rgb(0, 35, 125);
}

#title{
color: rgb(162, 0, 112);
background-color: rgb(217, 237, 255);
text-align: center;
}
#date{
  float: right;
  color: rgb(255, 124, 135);
}
